// Colors
$black: #151515
$blue: #407CBD

// Color maps
$colors: ()
$grays: ()

$spacer: 1rem

// Theme colors
// $theme-colors: map-remove($theme-colors, 'primary', 'secondary', 'success', "info", 'warning', 'danger', "light", "dark")
$theme-colors: ()

// Grid breackpoints
$grid-breakpoints: ( xs: 0, md: 1000px )

// Container max width
$container-max-widths: ( md: 1530px )

// Root variables prefix
$prefix: cc-

// Root font size (set 1rem = 10px)
$font-size-root: 62.5%
$font-size-base: 1rem
$headings-color: $black

// Font family
$font-family-sans-serif: 'Roboto', sans-serif

// Heading font family
$headings-font-family: 'Helvetica Now Display', sans-serif
$headings-font-weight: 900

// Font sizing
$h1-font-size: $font-size-base * 5.4
$h2-font-size: $font-size-base * 3
$h3-font-size: $font-size-base * 2.4
$h4-font-size: $font-size-base * 2
$h5-font-size: $font-size-base * 1.8
$h6-font-size: $font-size-base

// Container
$grid-gutter-width: $font-size-base * 3
$container-padding-x: $grid-gutter-width * 2

// Navbar
$navbar-nav-link-padding-x: $spacer * 2
$navbar-light-color: $black
$navbar-light-hover-color: $blue
$navbar-brand-font-size: $font-size-base * 2.4
$navbar-padding-y: $spacer * 5
$nav-link-font-weight: 300

$navbar-brand-transition-time: .25s
$navbar-brand-transition-timing: ease-in-out
$navbar-brand-transition: color $navbar-brand-transition-time $navbar-brand-transition-timing, fill $navbar-brand-transition-time $navbar-brand-transition-timing, stroke $navbar-brand-transition-time $navbar-brand-transition-timing
