@mixin btn-state($color)
	color: $color

	.svg-icon
		.path
			fill: $color

	&:hover,
	&:disabled
		color: $color

.btn
	text-align: left
	width: auto
	display: flex
	align-content: center

	.svg-icon
		margin-right: $spacer * 2

		.path
			fill: $black
			@include transition($btn-transition)

	&-side
		.svg-icon
			.path
				fill: $white

	&-h1
		font-size: $h1-font-size
		margin: auto

	&-divider
		font-size: $font-size-base * 1.6
		margin-left: $spacer * 2
		margin-right: $spacer * 2

	&-footer
		margin-top: $spacer * 2

	&:hover
		.svg-icon
			.path
				fill: $blue

	&-animate
		animation: riseup $transition-duration $transition-timing-function

	&-success
		@include btn-state($green)

	&-error
		@include btn-state($red)
