@mixin btn-state($color)
	color: $color

	.svg-icon
		.path
			fill: $color

	&:hover,
	&:disabled
		color: $color

.btn
	text-align: left
	width: auto
	display: flex
	align-content: center

	@media (prefers-color-scheme: dark)
		--#{$prefix}btn-color: var(--#{$prefix}dark-mode-white)

	.svg-icon
		margin-right: $spacer * 2

		.path
			fill: var(--#{$prefix}btn-color)
			@include transition($btn-transition)

	&-h1
		font-size: $h1-font-size
		justify-content: center

	&-divider
		font-size: $font-size-base * 1.6
		margin-left: $spacer * 2
		margin-right: $spacer * 2

	&-footer
		margin-top: $spacer * 2

	&:hover
		.svg-icon
			.path
				fill: var(--#{$prefix}btn-hover-color)

	&-animate
		animation: riseup $transition-duration $transition-timing-function

	&-success
		@include btn-state($green)

	&-error
		@include btn-state($red)
