@import 'keyframes'

.card
	position: relative
	margin-bottom: $spacer * 3

	.card-image
		transition: $card-transition

	.card-data
		position: absolute
		top: 0
		padding: $spacer * 3
		width: calc(100% - $spacer * 3)
		height: 100%
		transition: $card-transition
		@include border-radius($thumbnail-border-radius)
	
	.card-caption,
	.card-icon-ig,
	.card-link
		opacity: 0
	
	.card-caption
		margin-top: $spacer * 2
		font-size: $font-size-base * 2
		
		&-ig
			font-size: $font-size-base * 1.5

	.card-icon-ig
		width: $font-size-base * 10
	
	.card-link
		font-weight: 900
		font-color: $black
		text-decoration: none
		// text-transform: uppercase
		color: $black
		position: absolute
		bottom: $spacer * 3

	.card-wrapper
		overflow: hidden

		&:hover
			.card-title,
			.card-image,
			.card-data,
			.card-link
				color: $white

			.card-image
				filter: blur($font-size-base / 2)

			.card-data
				background: rgba($black, 0.9)

			.card-caption,
			.card-icon-ig,
			.card-link
				animation: riseup .2s ease-out .2s forwards
