@import 'keyframes'

.card
	position: relative
	margin-top: $spacer * 2
	margin-bottom: $spacer

	.card-data
		position: absolute
		top: 0
		padding: $spacer * 3
		width: calc(100% - $spacer * 3)
		height: 100%
		transition: background-color $transition-duration $transition-timing-function
		@include border-radius($border-radius-lg)

	.card-title
		transition: color $transition-duration $transition-timing-function
	
	.card-caption,
	.card-icon-ig,
	.card-link
		opacity: 0
	
	.card-caption
		margin-top: $spacer * 3
		font-size: $font-size-base * 2
		
		&-ig
			font-size: $font-size-base * 1.5
			margin-left: $spacer * 3
			margin-right: $spacer * 3

	.card-icon-ig
		width: $font-size-base * 10
	
	.card-link
		font-weight: 900
		font-color: $black
		text-decoration: none
		// text-transform: uppercase
		color: $black
		position: absolute
		bottom: $spacer * 3

	.card-wrapper
		overflow: hidden

		&:hover
			.card-title,
			.card-data,
			.card-link
				color: $white

			.card-data
				background-color: rgba($black, 0.9)

			.card-caption,
			.card-icon-ig,
			.card-link
				animation: riseup $transition-duration $transition-timing-function $transition-delay forwards

	&-instagram
		.card-data
			display: flex
			justify-content: center
			align-items: center
			flex-direction: column
			text-align: center
			padding: $spacer * 5
