.navbar
	position: absolute
	width: 100%
	top: 0
	left: 0
	padding-top: var(--#{$prefix}nav-link-padding-y)
	padding-bottom: var(--#{$prefix}nav-link-padding-y)
	z-index: 1000

	.container-fluid
		padding-left: 0
		padding-right: 0

	// Navbar brand
	.navbar-brand
		font-weight: 900
		transition: $navbar-brand-transition
		z-index: 100
		color: var(--#{$prefix}logo-brand-color)

		.navbar-brand-text
			padding-left: var(--#{$prefix}brand-text-padding)
			line-height: 1

		// CC SVG Logo
		.cc-logo
			width: 25px
			height: 25px

			.cc-logo-bg
				fill: var(--#{$prefix}logo-stroke-color)
				stroke: var(--#{$prefix}logo-stroke-color)
				transition: $navbar-brand-transition

			.cc-logo-lower,
			.cc-logo-upper
				fill: var(--#{$prefix}logo-fill-color)
				transition: $navbar-brand-transition

			@include media-breakpoint-up(md)
				height: 50px
				width: 50px

		&:hover
			color: var(--#{$prefix}logo-hover-color)

			.cc-logo-bg
				fill: var(--#{$prefix}logo-hover-color)
				stroke: var(--#{$prefix}logo-hover-color)

	// Menu toggler
	.navbar-toggler
		position: relative
		border: none
		outline: none
		width: 26px
		height: 25px
		overflow: hidden
		z-index: 100

		& .hamburger,
		& .hamburger:before,
		& .hamburger:after
			background-color: var(--#{$prefix}navbar-toggler-color)
			display: block
			position: absolute
			width: 20px
			height: 2px

		& .hamburger
			top: 50%
			left: 3px
			transform: translateY(-50%)

			&:before,
			&:after
				content: ''

			&:before
				margin-top: -5px

			&:after
				margin-top: 5px

	// Menu wrapper
	.navbar-collapse
		position: absolute
		background-color: transparent
		width: 100vw
		height: 100vh
		top: 0
		left: 0
		justify-content: center
		transition: background-color $transition-duration $transition-timing-function
		z-index: -100

		// Menu container
		.navbar-nav
			opacity: 0
			display: none
			animation: riseup $transition-duration $transition-timing-function $transition-delay forwards

			@media (prefers-color-scheme: dark)
				--#{$prefix}nav-link-color: var(--#{$prefix}dark-mode-white)

		@include media-breakpoint-up(md)
			display: block
			position: relative
			height: auto
			background-color: transparent
			display: inline
			z-index: 0

			.navbar-nav
				opacity: 1
				display: flex
				animation: none

	// Menu item
	.nav-link
		text-align: center
		font-size: $font-size-base * 4

		@include media-breakpoint-up(md)
			color: var(--#{$prefix}menu-link-color)
			font-size: $font-size-base * 2
			z-index: 200

			&:hover
				color: var(--#{$prefix}btn-hover-color)

			&:focus
				color: inherit

	// Mobile menu active
	&.menu-active

		// Navbar brand
		.navbar-brand
			color: var(--#{$prefix}navbar-toggler-color)

			// CC SVG Logo
			.cc-logo

				.cc-logo-bg
					stroke: var(--#{$prefix}navbar-toggler-color)
					fill: var(--#{$prefix}body-bg)

				.cc-logo-lower,
				.cc-logo-upper
					fill: var(--#{$prefix}navbar-toggler-color)

		// Toggler
		.navbar-toggler
			// z-index: 100

			& .hamburger,
			& .hamburger:before,
			& .hamburger:after
				background-color: var(--#{$prefix}navbar-toggler-color)

			& .hamburger,
			& .hamburger:after
				transition: transform $transition-duration $transition-timing-function

			& .hamburger
				transform: rotate(45deg)

			& .hamburger:before,
			& .hamburger:after
				margin-top: 0

			& .hamburger:before
				opacity: 0

			& .hamburger:after
				transform: rotate(-90deg)

		// Menu wrapper
		.navbar-collapse
			background-color: var(--#{$prefix}body-bg)
			display: flex
			z-index: 50

			// Menu container
			.navbar-nav
				display: flex
