h4,
.h4
	color: $gray-500

a
	&.side-contact
		background: rgba($black,.3)
		display: block
		position: fixed
		width: 46px
		height: 46px
		left: 30px
		bottom: 30px
		z-index: 20
		padding: 13px
		border: 0 none
		border-radius: 23px
		transition: all $transition-duration $transition-timing-function $transition-delay
		transform: translate3d(0,0,0)

		.svg-icon
			.path
				fill: $white

		& svg
			display: block
			width: 20px
			height: 20px
			float: left
			margin-right: 8px

		& span
			display: block
			width: 0
			float: left
			overflow: hidden
			font-size: .8125rem
			font-size: $font-size-base * 1.2
			// line-height: 1.25rem
			font-weight: 500
			color: $white
			opacity: 0
			margin-top: 1px
			transition: width 0s linear $transition-delay, opacity $transition-duration $transition-timing-function

		&:hover
			background: $black
			width: 120px
			transition: all .2s cubic-bezier(.3,0,.5,1)

			& span
				width: auto
				opacity: 1
				transition: width 0s linear .2s,opacity .2s cubic-bezier(.3,0,.5,1) .2s
