$utilities: (
	// Justify content
	'justify-content': (
		responsive: true,
		property: justify-content,
		values: (
			end: flex-end,
			start: flex-start,
			center: center,
			// between: space-between,
			// around: space-around,
			// evenly: space-evenly,
		)
	),

	// Align items
	'align-items': (
		responsive: true,
		property: align-items,
			values: (
				// start: flex-start,
				// end: flex-end,
				center: center,
				// baseline: baseline,
				// stretch: stretch,
			)
	),

	// Text transform
	'text-transform': (
		property: text-transform,
		class: text,
		values: uppercase capitalize
	),

	// Display
	'display': (
		responsive: false,
		print: true,
		property: display,
		class: d,
		values: flex
	),

	// Flex direction
	'flex-direction': (
		responsive: true,
		property: flex-direction,
		class: flex,
		values: column 
	),

	// Text alignment
	"text-align": (
		responsive: true,
		property: text-align,
		class: text,
		values: (
			// start: left,
			// end: right,
			center: center,
		)
	),

	// Font sizes
	// 'font-size': (
	// 	rfs: true,
	// 	property: font-size,
	// 	class: fs,
	// 	values: $font-sizes
	// ),
)
