// Configuration
@import '../bootstrap-config'

.services
	margin-bottom: $spacer * 5

	@include media-breakpoint-up(md)
		margin-bottom: 0

.list

	.item
		display: inline-block
		padding-right: 2 * $spacer
		font-weight: 900

		&:after
			padding-left: 2 * $spacer
			content: '/'
			font-weight: 400
			color: var(--#{$prefix}h4-color)

		&:last-child
			&:after
				content: ''

.experience
	margin-top: $spacer * 6

	.item
		margin-bottom: $spacer * 4

		span
			margin-bottom: $spacer * 2

		@include media-breakpoint-up(md)
			margin-bottom: $spacer * 2

			span
				margin-bottom: 0
