// Configuration
@import '../bootstrap-config'

// Keyframes
@import '../components/keyframes'

.container
	margin-top: $spacer * 15

	@include media-breakpoint-up(md)
		margin-top: $spacer * 20

.subtitle
	margin-top: $spacer * 5

	@include media-breakpoint-up(md)
		margin-top: $spacer * 8

.images
	margin-top: $spacer * 5

	.image
		margin-bottom: $spacer * 2

	@include media-breakpoint-up(md)
		margin-top: $spacer * 10

		.image
			margin-bottom: $spacer * 5
